.search-div {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.input-group {
    justify-content: space-between;
}

.form-outline {
    width : 40%;
}

.form-label {
    font-family: 'GmarketSansMedium';
}

.search-btn {
    border-radius: 1rem ! important;

    font-family: 'GmarketSansMedium';
    padding: 0 1.2rem;
}

.search-btn-after {
    border-radius: 0.5rem ! important;
    width: 20%;

    font-family: 'GmarketSansMedium';
    margin: 1rem 0;
    padding: 0 3rem;
}

.delete-btn {
    margin-bottom: 1rem;
    font-family: 'GmarketSansMedium';
}

.detail-button {
    margin-top: 1rem;
    font-family: 'GmarketSansMedium';
}

.search-again-form {
    display: none;
}

.form-submit-button {
    display: none;
}

.tr-prompt {
    cursor: pointer;
    vertical-align: middle;
}

.tr-negative {
    cursor: pointer;
    vertical-align: middle;
}

.tr-time {
    cursor: pointer;
    vertical-align: middle;
}