{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .container div {
        width: 250px;
        height: auto;
        border-radius: 1rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

</style>
<div class="container-sm search-div">
    <form method="post" class="search-form">
        {% csrf_token %}
        <div class="input-group">
            <div class="form-outline">
                <label class="form-label" for="prompt">Prompt</label>
                <input type="text" name="prompt" class="form-control" />
            </div>
            &nbsp;&nbsp;
            <div class="form-outline">
                <label class="form-label" for="negative_prompt">Negative Prompt</label>
                <input type="text" name="negative_prompt" class="form-control" />
            </div>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-outline-dark search-btn">{{_('Search')}}</button>
        </div>
    </form>
</div>
{% include 'snippets/images_fragment.html' with image_post_list=image_post_list %}
{% include 'snippets/pagination.html' with page_obj=page_obj %}

<div class="btn-container" style="text-align: center;">
    <a href="{% url 'images:create' %}">
        <btn class="btn btn-dark rounded-pill col-2 mt-3 mb-3" style="font-family: 'GmarketSansMedium';">{{_('이미지 게시글 작성')}}</btn>
    </a>
</div>

{% endblock %}
