{% extends 'base.html' %} {% load static%} {% block content %}
<div class="container">
    <div class="title" style="text-align: center; margin-top: 1rem">
        <h4 style="font-family: 'GmarketSansMedium'">{{ target_post.title }}</h4>
        <a href="{% url 'account:detail' pk=target_post.user.pk %}">
            <h5>{{target_post.user.username}}</h5>
        </a>
    </div>
    <div class="user-info-container">
        {% if target_post.user.profile_image %}
            <img
                src="data:image/jpeg;base64,{{ target_post.user.profile_image }}"
                alt=""
                style="
                    border: 1px solid black;
                    height: 5rem;
                    width: 5rem;
                    border-radius: 20rem;
                    object-fit: cover;
                "
            />
        {% else %}
            <img
                src="{% static 'images/no_profile.png'%}"
                alt=""
                style="
                    border: 1px solid black;
                    height: 5rem;
                    width: 5rem;
                    border-radius: 20rem;
                    object-fit: cover;
                "
            />
        {% endif %} &nbsp;&nbsp;&nbsp;
        <a href="{% url 'account:detail' pk=target_post.user.pk %}">
            <strong>{{ target_post.user.username }}</strong>
        </a>
        <div style="text-align:right;">
            {% if target_post.project.pk %}
            <a href="{% url 'projects:list' %}">
                {{target_post.project.title}}
            </a>
            {% else %}
            <a href="{% url 'projects:list' %}"> Temp </a>
            {% endif %}
        </div>
    </div>
    <div
        style="
            border: 1px solid black;
            border-radius: 1rem;
            margin-top: 2rem;
            padding: 1rem 1rem;
        "
    >
        <p>{{ target_post.content }}</p>
        <strong>{{ target_post.post_time }}</strong>
    </div>
    <div
            class="button-container"
            style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                margin-top: 1.2rem;
                justify-content: flex-end;
            "
    >
        {% if target_post.user == user %}
                <div style="text-align: center">
                    <a href="{% url 'post:update' pk=target_post.pk %}">
                        <btn
                            class="btn btn-dark rounded-pill"
                            style="font-family: 'GmarketSansMedium'"
                            >수정</btn
                        >
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div style="text-align: center">
                    <a href="{% url 'post:delete' pk=target_post.pk %}">
                        <btn
                            class="btn btn-danger rounded-pill"
                            style="font-family: 'GmarketSansMedium'"
                            >삭제</btn
                        >
                    </a>
                </div>
        {% else %}
            {% if user.is_authenticated %}
                {% if not likes %}
                    <div style="text-align: center">
                        <a href="{% url 'post:like' %}?post_pk={{ target_post.pk }}">
                            <btn
                                class="btn btn-outline-success rounded-pill"
                                style="font-family: 'GmarketSansMedium'"
                                >좋아요</btn
                            >
                        </a>
                    </div>
                {% else %}
                    <div style="text-align: center">
                        <a href="{% url 'post:like' %}?post_pk={{ target_post.pk }}">
                            <btn
                                class="btn btn-outline-danger rounded-pill"
                                style="font-family: 'GmarketSansMedium'"
                                >좋아요 해제</btn
                            >
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %} 
    </div>
    {% comment %} comment {% endcomment %}
    <div style="margin-top: 1rem; height: 40vh; overflow-y: scroll">
        {% include 'comments/create.html' with post=target_post %}
        {% for comment in target_post.post_comment.all %}
            {% include 'comments/detail.html' with comment=comment.comment%}
        {% endfor %}
    </div>
</div>
{% endblock %}
