{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<div class="container col-6" style="text-align: center; margin: 2rem auto;">
    <div>
        <h4>{{_('Sign in')}}</h4>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" value={{_('Submit')}}>
        </form>
    </div>
    <a href="{% url 'account:password_reset' %}">
        <btn class="btn btn-dark rounded-pill col-6 mt-3">{{_('Forgot your password?')}}</btn>
    </a>
</div>

{% endblock %}