{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .container div {
        width: 250px;
        height: auto;
        border-radius: 1rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

</style>

{% include 'snippets/images_fragment.html' with image_post_list=bookmark_list%}
{% include 'snippets/pagination.html' with page_obj=page_obj %}
{% endblock  %}