{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/follows/follow_list.css' %}">
{% endblock %}

<style>
    .container div {
        width: 250px;
        height: auto;
        border-radius: 1rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }
</style>

{% block content %}
<div class="container-sm">
    <nav style="margin-bottom: 2rem;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a href={% url 'follows:bookmarked' %}>
                <button class="nav-link active" id="nav-image-tab" type="button" role="tab" aria-controls="nav-image" aria-selected="true">{{_('Images')}}</button>
            </a>
            <a href={% url 'prompts:bookmarked' positive='prompt' %}>
                <button class="nav-link" id="nav-positive-tab" type="button" role="tab" aria-controls="nav-positive" aria-selected="false">{{_('Positive')}}</button>
            </a>
            <a href={% url 'prompts:bookmarked' positive='negative_prompt' %}>
                <button class="nav-link" id="nav-negative-tab" type="button" role="tab" aria-controls="nav-negative" aria-selected="false">{{_('Negative')}}</button>
            </a>
            <a href={% url 'prompts:recommend_list'%}>
                <button class="nav-link" id="nav-recommend-tab" type="button" role="tab" aria-controls="nav-recommend" aria-selected="false">{{_('Recommend')}}</button>
            </a>
        </div>
    </nav>
{% include 'snippets/images_fragment.html' with image_post_list=bookmark_list%}
{% include 'snippets/pagination.html' with page_obj=page_obj %}
</div>
{% endblock  %}