{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/prompt/prompt_list.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
    <nav style="margin-bottom: 2rem;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a href={% url 'follows:bookmarked' %}>
                <button class="nav-link " id="nav-image-tab" type="button" role="tab" aria-controls="nav-image" aria-selected="false">{{_('Images')}}</button>
            </a>
            <a href={% url 'prompts:bookmarked' positive='prompt' %}>
                <button class="nav-link {% if positive == 'prompt' %}active{% endif %}" id="nav-positive-tab" type="button" role="tab" aria-controls="nav-positive" aria-selected="{% if positive == 'prompt' %}true{% else %}false{% endif %}">{{_('Positive')}}</button>
            </a>
            <a href={% url 'prompts:bookmarked' positive='negative_prompt' %}>
                <button class="nav-link {% if positive == 'negative_prompt' %}active{% endif %}" id="nav-negative-tab" type="button" role="tab" aria-controls="nav-negative" aria-selected="{% if positive == 'negative_prompt' %}true{% else %}false{% endif %}">{{_('Negative')}}</button>
            </a>
            <a href={% url 'prompts:recommend'%}>
                <button class="nav-link" id="nav-recommend-tab" type="button" role="tab" aria-controls="nav-recommend" aria-selected="false">{{_('Recommend')}}</button>
            </a>
        </div>
    </nav>
{% if prompt_list %}
    <div class="container">
        {% for prompt in prompt_list %}
        <div class="prompt-block">
            <a class="prompt-block-href" href = "{% url 'prompts:detail' pk=prompt.pk positive=positive %}">
                <div class="prompt-img-container">
                    <img class="prompt-img" src="https://vanecompany.synology.me/ai_image/prompt/{{prompt.prompt}}_{{positive}}.png" alt="">
                </div>
                <h5 class="mt-2">
                    {{prompt.prompt|truncatechars:10}}
                    <a href="{% url 'prompts:bookmark' %}?prompts_pk={{ prompt.prompt }}&positive={{positive}}&list='a'">
                        <btn class="btn btn-dark rounded-pill" style="font-family: 'GmarketSansMedium';">{{_('Unbookmark')}}</btn>
                    </a>
                </h5>
            </a>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
    <div style="text-align: center;">
        <h1>{{_('No Prompt Yet.')}}</h1>
    </div>
{% endif %}{% include 'snippets/pagination.html' with page_obj=page_obj %}
</div>
{% endblock %}
