{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/follows/follow_list.css' %}">
{% endblock %}
{% block content %}
<style>
    .container div {
        width: 250px;
        height: auto;
        border-radius: 1rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }
</style>

<div style="text-align: center;max-width: 500px; margin: 4rem auto 1.5rem auto;">
    <h2>
        {{target_prompt}}
    </h2>
    <h5>
        {{positive}}
    </h5>
</div>

{% if data_list %}
    <div class="container">
        {% for image in data_list %}
            <a href="{% url 'images:detail' pk=image.image_post.pk %}">
                <div>
                    <img src="{{ image.image_file }}" alt="">
                </div>                
            </a>
        {% endfor %}
    </div>
    {% include 'snippets/pagination.html' with page_obj=page_obj %}
    <script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
    <div style="text-align: center;">
        <h1>{{_('No Image Post Yet.')}}</h1>
    </div>
{% endif %}
{% endblock  %}