{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/follows/follow_list.css' %}">
{% endblock %}
{% block content %}
<div style="text-align: center;max-width: 500px; margin: 4rem auto 1.5rem auto;">
    <h2>
        {{target_prompt.prompt}}
    </h2>
</div>
<div class="text-center">
    {% if user.is_authenticated %}
        {% if not bookmark %}
            <div style="text-align: center">
                <a href="{% url 'prompts:bookmark' %}?prompts_pk={{ target_prompt.pk }}">
                    <btn class="btn btn-dark rounded-pill">{{_('Bookmark')}}</btn>
                </a>
            </div>
        {% else %}
            <div style="text-align: center">
                <a href="{% url 'prompts:bookmark' %}?prompts_pk={{ target_prompt.pk }}">
                    <btn class="btn btn-outline-danger rounded-pill">{{_('Unbookmark')}}</btn>
                </a>
            </div>
        {% endif %}
    {% endif %}
</div>
<div>
    {% include 'snippets/images_fragment.html' with image_post_list=object_list %}
</div>
{% endblock  %}