<div class="container">
    {% if log_list %}
        <a href="{% url 'search:delete_all' %}">
            <button class="btn btn-outline-danger delete-btn">
                {{_('Delete all')}}
            </button>
        </a>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th class="prompt" scope="col">prompt</th>
                    <th class="negative" scope="col">negative_prompt</th>
                    <th class="time" scope="col">{{_('Time')}}</th>
                    <th class="delete" scope="col">{{_('Delete')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in log_list %}
                <tr id="log-tr-{{log.pk}}" class="tr-class">
                    <td class="prompt tr-prompt">{{log.prompt}}</td>
                    <td class="negative tr-negative">{{log.negative_prompt}}</td>
                    <td class="time tr-time">{{log.created_at}}</td>
                    <td class="delete">
                        <a href="{% url 'search:delete' pk=log.pk %}">
                            <button type="submit" class="btn btn-outline-dark">X</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif user.is_authenticated %}
        <div class="no-text" style="text-align: center">
            <h1>{{_('No Search yet!')}}</h1>
        </div>
    {% endif %}
</div>

<form class="search-again-form" method="post">
  {% csrf_token %}
  <input
      id="log-prompt"
      type="hidden"
      name="prompt"
      value=""
  />
  <input
      id="log-negative-prompt"
      type="hidden"
      name="negative_prompt"
      value=""
  />
  <button class="form-submit-button" type="submit"></button>
</form>

<script>
    $(document).ready(function() {
        $('[id^="log-tr-"]').click(function() {
            var prompt = $(this).find('.prompt').text();
            var negativePrompt = $(this).find('.negative').text();

            $('#log-prompt').val(prompt);
            $('#log-negative-prompt').val(negativePrompt);

            $('.search-again-form').submit();
        });
    });
</script>