<div class="container">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th class="num">Rank</th>
                <th class="name" scope="col">positive_prompt</th>
                

                <th class="num">Rank</th>
                <th class="name" scope="col">negative_prompt</th>                
            </tr>
        </thead>
        <tbody>
            {% for rank in prompt_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td class="name">
                    <a href = "{% url 'prompts:detail' pk=rank.prompt positive="prompt" %}">
                        {{rank.prompt}}
                    </a>
                </td>
                <td>{{forloop.counter}}</td>
                <td class="name">
                    <a href = "{% url 'prompts:detail' pk=rank.negative_prompt positive="negative_prompt" %}">
                        {{rank.negative_prompt}}
                    </a>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
