{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<style>
    .container div {
        width: 250px;
        height: auto;
        border-radius: 1rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

</style>
<div>
    <div style="text-align: center; max-width: 500px; margin: 2rem auto;">
        {% if target_user.profile_image %}
            <img src="data:image/jpeg;base64,{{ target_user.profile_image }}" alt="" style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
        {% else %}
            <img src="{% static 'images/no_profile.png'%}" alt="" style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
        {% endif %}

        <h2 style="font-family: 'GmarketSansBold';">{{ target_user.username }}</h2>

        {% if target_user == user %}
            <a href="{% url 'account:edit' pk=user.user_id %}" style="text-decoration-line: none;">
                <btn class="btn btn-dark rounded-pill col-6 mt-3">개인정보 변경</btn>
            </a>
            <a href="{% url 'account:quit' pk=user.user_id %}" style="text-decoration-line: none;">
                <btn class="btn btn-danger rounded-pill col-6 mt-3">탈퇴</btn>
            </a>
        {% else %}
            {% if user.is_authenticated %}
                {% comment %} follows {% endcomment %}
                {% if not subscription %}
                <a href="{% url 'follows:subscribe' %}?account_pk={{target_user.pk}}" class="btn btn-light rounded-pill px-4">
                    구독
                </a>
                {% else %}
                <a href="{% url 'follows:subscribe' %}?account_pk={{target_user.pk}}" class="btn btn-danger rounded-pill px-4">
                    구독 해제
                </a>
                {% endif %}
                {% if not following %}
                <a href="{% url 'follows:follow' %}?account_pk={{target_user.pk}}" class="btn btn-light rounded-pill px-4">
                    팔로우
                </a>
                {% else %}
                <a href="{% url 'follows:follow' %}?account_pk={{target_user.pk}}" class="btn btn-danger rounded-pill px-4">
                    팔로우 해제
                </a>
                {% endif %}
            {% endif %}
        {% endif %}
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images" type="button" role="tab" aria-controls="nav-images" aria-selected="true">Images</button>
                <button class="nav-link" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts" aria-selected="false">Posts</button>
            </div>
        </nav>
    </div>

    {% comment %} image/post {% endcomment %}
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
            {% if subscription or target_user == user%}
                {% include 'snippets/images_fragment.html' with  image_post_list=object_list%}
            {% else %}
                {% include 'snippets/images_fragment.html' with  image_post_list=not_subscribe_image_list%}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
            {% comment %} {% if subscription or target_user == user%}
                {% include 'posts/list.html' with post_list=post_list %}
            {% else %}
                {% include 'posts/list.html' with post_list=not_subscribe_post_list %}
            {% endif %} {% endcomment %}
            {% include 'posts/list.html' with post_list=post_list %}
        </div>
    </div>
    

    
</div>
{% endblock %}