{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .container div {
        width: 250px;
        height: 250px;
        border-radius: 1rem;
        background-color: antiquewhite;
        justify-content: center;
        display: inline-block;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

</style>

<div class="container">
    {% for user in user_list %}
    <a href = "{% url 'account:detail' pk=user.pk %}">
        {% if user.profile_image %}
            <img src="data:image/jpeg;base64,{{ user.profile_image }}" alt="" style="height: 6rem; width: 6rem; border-radius: 20rem; margin-bottom: 2rem;">
        {% else %}
            <img src="{% static 'images/no_profile.png'%}" alt="" style="height: 6rem; width: 6rem; border-radius: 20rem; margin-bottom: 2rem;">
        {% endif %}
        {{user.username}}
    </a>
    {% endfor %}
</div>
{% include 'snippets/pagination.html' with page_obj=page_obj %}
<div>
    {% include 'snippets/images_fragment.html' with image_post_list=image_post_list %}
</div>


<script src ="{% static 'js/magicgrid.js' %}"></script>

{% endblock  %}