{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/follows/follow_list.css' %}" />
{% endblock %} {% block content %}

<div class="user-list-container">
    <div id="horizonal-user" class="wrap-vertical">
        {% for user in user_list %}
        <div class="user-div">
            <a href="{% url 'account:detail' username=user.username %}">
                {% if user.profile_image %}
                <img
                    class="user-profile"
                    src="data:image/jpeg;base64,{{ user.profile_image }}"
                    alt=""
                />
                {% else %}
                <img
                    class="user-profile"
                    src="{% static 'images/no_profile.png'%}"
                    alt=""
                />
                {% endif %}
                <div style="width: 50px; height: 50px">{{user.username}}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'snippets/images_fragment.html' with image_post_list=image_post_list%}

<script>
    $("#horizonal-user").on("mousewheel", function (e) {
        event.stopPropagation();
        event.stopImmediatePropagation();

        var wheelDelta = e.originalEvent.wheelDelta;

        if (wheelDelta > 0) {
            $(this).scrollLeft(-wheelDelta + $(this).scrollLeft());
        } else {
            $(this).scrollLeft(-wheelDelta + $(this).scrollLeft());
        }

        // 외부 스크롤 이벤트 막기
        return false;
    });
</script>

{% endblock %}