{% load static %}
{% if image_post_list %}
    <div class="container">
        {% for image_post in image_post_list %}
            <a href="{% url 'images:detail' pk=image_post.pk %}">
                {% include 'snippets/card.html' with image_post=image_post %}
            </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% include 'snippets/pagination.html' with page_obj=page_obj %}
{% else %}
    <div style="text-align: center;">
        <h1>No Image Post Yet.</h1>
    </div>
{% endif %}

{% if target_user == user %}
<div style="text-align: center;">
    <a href="{% url 'images:create' %}">
        <btn class="btn btn-dark rounded-pill col-3 mt-3 mb-3" style="font-family: 'GmarketSansMedium';">이미지 게시글 작성</btn>
    </a>
</div>
{% endif %}