{% extends 'base.html' %} {% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/channel/channel_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="title">
        <h4 style="font-family: 'GmarketSansMedium'">{{ target_post.title }}</h4>
    </div>
    <div class="content-div">
        <strong>{{ target_post.post_time }}</strong>
        <strong>{% if target_post.subscribe_only %}{{_('Subscribe')}}{% endif %}</strong>
        <p>{{ target_post.content }}</p>
    </div>
    <div class="button-container">
        {% if target_post.user == user %}
            <div style="text-align: center">
                <a href="{% url 'post:update' pk=target_post.pk %}">
                    <btn
                        class="btn btn-dark rounded-pill"
                        style="font-family: 'GmarketSansMedium'"
                        >{{_('Modify')}}</btn
                    >
                </a>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div style="text-align: center">
                <btn
                    class="btn btn-danger rounded-pill"
                    style="font-family: 'GmarketSansMedium'"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    >{{_('Delete')}}</btn
                >
            </div>
        {% else %} 
            {% if user.is_authenticated %} 
                {% if not likes %}
                    <div style="text-align: center">
                        <a href="{% url 'channel:like' %}?post_pk={{ target_post.pk }}">
                            <btn
                                class="btn btn-outline-success rounded-pill"
                                style="font-family: 'GmarketSansMedium'"
                                >{{_('좋아요')}}</btn
                            >
                        </a>
                    </div>
                {% else %}
                    <div style="text-align: center">
                        <a href="{% url 'channel:like' %}?post_pk={{ target_post.pk }}">
                            <btn
                                class="btn btn-outline-danger rounded-pill"
                                style="font-family: 'GmarketSansMedium'"
                                >{{_('좋아요 해제')}}</btn
                            >
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %} 
    </div>
    {% comment %} comment {% endcomment %}
    <div class="post-comment-div">
        {% include 'comments/create.html' with post=target_post %}
        {% for comment in target_post.channel_comment.all %}
            {% include 'comments/detail.html' with comment=comment.comment%}
        {% endfor %}
    </div>
</div>

{% if target_post.user == user %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{target_post.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{_('게시글을 삭제하시겠습니까?')}}
            </div>
            <div class="modal-footer">
                <form action="{% url 'channel:delete' pk=target_post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger rounded-pill" style="font-family: 'GmarketSansMedium'" value={{_('Delete')}}>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
