{% load static %}
{% for post in post_list %}
<div style="width: 80%;margin: 1rem 10%;">
    <div
        style="
            border: 1px solid black;
            border-radius: 1rem;
            margin-top: 2rem;
            padding: 1rem 1rem;
        "
    >
        <a href="{% url 'channel:detail' pk=post.pk %}">
            <h4 style="font-family: 'GmarketSansMedium'">{{ post.title }}</h4>
            <strong>{{ post.post_time }}</strong>
            <p>{{ post.content }}</p>
        </a>
    </div>
</div>
{% endfor %}
{% include 'snippets/pagination.html' with page_obj=page_obj %}
<script src ="{% static 'js/magicgrid.js' %}"></script>