{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/project/project_list.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    {% if user.is_admin %}
    <div class="project-btn">
        <a href="{% url 'projects:create' %}">
            <btn class="btn btn-dark rounded-pill" style="font-family: 'GmarketSansMedium'">
                {{_('New Project')}}
            </btn>
        </a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'post:announce' %}">
            <btn class="btn btn-dark rounded-pill" style="font-family: 'GmarketSansMedium'">
                {{_('New Announcement')}}
            </btn>
        </a>&nbsp;&nbsp;&nbsp;
        <btn class="btn btn-danger rounded-pill" style="font-family: 'GmarketSansMedium'" data-bs-toggle="modal" data-bs-target="#projectDeleteModal">
            {{_('Delete')}}
        </btn>
    </div>
    {% endif %}
    <div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for project in project_list %}
                <a href={% url 'projects:list' pk=project.pk %}>
                    <button class="nav-link {% if project.pk == target_project.project_id %}active{% endif %}" id="nav-{{ project.project_id }}-tab" type="button" role="tab" aria-controls="nav-{{ project.project_id }}" aria-selected="{% if project == target_project %}true{% else %}false{% endif %}">{{ project.title }}</button>
                </a>
                {% endfor %}
            </div>
        </nav>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-{{ target_project.project_id }}" role="tabpanel" aria-labelledby="nav-{{ target_project.project_id }}-tab">
            {% include 'posts/list.html' with post_list=post_list %}
        </div>
    </div>
</div>

{% if user.is_admin %}
<!-- Modal -->
<div class="modal fade" id="projectDeleteModal" tabindex="-1" aria-labelledby="projectDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectDeleteModalLabel">{{_('Delete')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="projectDeleteForm" action="{% url 'projects:delete' pk='nothing' %}" method="POST">
                <div class="modal-body">
                    <h5>{{_('삭제할 게시판을 선택해주세요.')}}</h5>
                    <select name="project" class="form-select" title="" required="" id="id_project" onchange="setProjectId()">
                        <option value="" selected="">---------</option>
                        {% for project in project_list %}
                            <option value="{{ project.pk }}">{{ project.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger rounded-pill" style="font-family: 'GmarketSansMedium'" value={{_('Delete')}}>
                </div>
            </form>

            <script>
                const projectDeleteLink = document.getElementById('projectDeleteForm').action.replace('nothing', '')
                function setProjectId() {
                    var selectedProjectId = document.getElementById('id_project').value;
                    document.getElementById('projectDeleteForm').action = projectDeleteLink + selectedProjectId;   
                }
            </script>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

