{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container col-6" style="text-align: center; margin: 2rem auto;">
    <div class="mb-4">
        <h4>비밀번호 변경</h4>
        <h5>비밀번호 변경 시 모든 기기에서 로그아웃 됩니다!</h5>
    </div>
    <form action="{% url 'account:edit_password' pk=target_user.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="font-family: 'GmarketSansMedium';" value={{_('Submit')}}>
    </form>

</div>

{% endblock %}