{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account/mypage.css' %}">
{% endblock %}

{% block content %}

<div class="container-sm">
    <div class="user-info-container">
        {% if target_user.profile_image %}
            <img class="profile-image" src="{{ target_user.profile_image }}" alt="">
        {% else %}
            <img class="profile-image" src="{% static 'images/no_profile.png'%}" alt="">
        {% endif %}

        <h2>{{ target_user.username }}</h2>
        <div>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#subscribe">
                {{_('Subscriber')}} ({{subscribe_list.count}})
            </button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#follow">
                {{_('Follower')}} ({{follow_list.count}})
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="subscribe" tabindex="-1" aria-labelledby="subscribeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{_('Subscriber')}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for subscriber in subscribe_list %}
                                <a href="{% url 'account:detail' username=subscriber.user.username %}">
                                    <strong>{{ subscriber.user.username }}</strong>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="follow" tabindex="-1" aria-labelledby="followLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{_('Follower')}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% for follower in follow_list %}
                                <a href="{% url 'account:detail' username=follower.user.username %}">
                                    <strong>{{ follower.user.username }}</strong>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if target_user == user %}
            <a class="user-info-button" href="{% url 'account:edit' pk=user.user_id %}">
                <btn class="btn btn-dark rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';">{{_('Change profile')}}</btn>
            </a><br>
            <btn class="btn btn-danger rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';" data-bs-toggle="modal" data-bs-target="#exampleModal">{{_('Delete account')}}</btn><br><br>
            <a href="{% url 'images:create' %}">
                <btn class="btn btn-outline-dark rounded-pill col-3 mt-3 mb-3" style="font-family: 'GmarketSansMedium';">{{_('New Image Post')}}</btn>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'channel:create' %}">
                <btn class="btn btn-outline-dark rounded-pill col-3 mt-3 mb-3" style="font-family: 'GmarketSansMedium';">{{_('New Channel Post')}}</btn>
            </a>
        {% else %}
            {% if user.is_authenticated %}
                {% comment %} follows {% endcomment %}
                {% if not subscription %}
                <a class="user-info-button" href="{% url 'follows:subscribe' %}?account_pk={{target_user.username}}">
                    <btn class="btn btn-outline-dark rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';">{{_('Subscribe')}}</btn>
                </a><br>
                {% else %}
                <a class="user-info-button" href="{% url 'follows:subscribe' %}?account_pk={{target_user.username}}">
                    <btn class="btn btn-outline-danger rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';">{{_('Unsubscribe')}}</btn>
                </a><br>
                {% endif %}
                {% if not following %}
                <a class="user-info-button" href="{% url 'follows:follow' %}?account_pk={{target_user.username}}">
                    <btn class="btn btn-outline-dark rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';">{{_('Follow')}}</btn>
                </a><br>
                {% else %}
                <a class="user-info-button" href="{% url 'follows:follow' %}?account_pk={{target_user.username}}">
                    <btn class="btn btn-outline-danger rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';">{{_('Unfollow')}}</btn>
                </a><br>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    {% comment %} image/post {% endcomment %}
    <div class="tab-container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-images-tab" data-bs-toggle="tab" data-bs-target="#nav-images" type="button" role="tab" aria-controls="nav-images" aria-selected="true">{{_('Images')}}</button>
                <button class="nav-link" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts" aria-selected="false">{{_('Posts')}}</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
                {% if target_user == user or user.is_adult %}
                {% include 'snippets/images_fragment.html' with  image_post_list=object_list %}
                <div class="view-all-button">
                    <a href="{% url 'account:image' username=target_user.username%}">
                        <btn class="btn btn-outline-dark rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';">{{_('View all')}}</btn>
                    </a>
                </div>
                {% else %}
                {% include 'snippets/images_fragment.html' with  image_post_list=not_adult_list %}
                <div class="view-all-button">
                    <a href="{% url 'account:image' username=target_user.username%}">
                        <btn class="btn btn-outline-dark rounded-pill col-3 mt-3" style="font-family: 'GmarketSansMedium';">{{_('View all')}}</btn>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
                {% if subscription or target_user == user%}
                    {% include 'channel/list.html' with post_list=post_list %}
                {% else %}
                    {% include 'channel/list.html' with post_list=not_subscribe_post_list %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if target_user == user %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{_('Delete account')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{_('Are you sure you want to leave?')}}
            </div>
            <div class="modal-footer">
                <form action="{% url 'account:quit' pk=user.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger rounded-pill" style="font-family: 'GmarketSansMedium'" value="{{_('Submit')}}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}