{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container col-6" style="text-align: center; margin: 2rem auto;">
    <div class="mb-4">
        <h4>비밀번호 변경</h4>
    </div>
    {% if validlink %}
        <form method="post" class="post-form">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="id_password1">비밀번호</label>
                <input type="password" class="form-control" name="new_password1" id="new_password1">
            </div>
            <div class="mb-3">
                <label class="form-label" for="id_password2">비밀번호 확인</label>
                <input type="password" class="form-control" name="new_password2" id="new_password2">
            </div>
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="font-family: 'GmarketSansMedium';" value="확인">
        </form>
    {% else %}
        <h5>링크가 유효하지 않습니다.</h5>
    {% endif %}
</div>

{% endblock %}