{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="containe col-6" style="text-align: center; margin: 2rem auto;">
    <div class="mb-4">
        <h4>Write your e-mail</h4>
    </div>
    <form action="{% url 'account:password_reset' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="font-family: 'GmarketSansMedium';" value={{_('Next')}}>
    </form>

</div>

{% endblock %}