{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    .comment_container::-webkit-scrollbar {
        width: 3px;
    }

    .comment_container::-webkit-scrollbar-thumb {
        height: 5%;
        background: rgba(255, 255, 255)
        
        border-radius: 1rem;
        background-clip: padding-box;
    }
    
    .comment_container::-webkit-scrollbar-track {
        background: rgba(255, 255, 255); 
    }
</style>

<div
    class="container-fluid"
    style="width: 100%; height: 80vh; padding-left: 0; padding-right: 0"
>
    <div
        class="row"
        style="width: 100%; height: 100%; margin-left: 0; margin-right: 0"
    >
        {% comment %} image {% endcomment %}
        <div
            id="carouselExample"
            class="carousel slide col-10"
            data-ride="carousel"
            style="height: 100%; background-color: rgba(0, 0, 0, 0.3)"
        >
            <div class="carousel-inner" style="width: 100%; height: 100%">
                {% if first_image %}
                <div
                    class="carousel-item active"
                    style="width: 100%; height: 100%"
                >
                    <img
                        name="img_box"
                        class="d-block"
                        src="data:image/jpeg;base64,{{ first_image.image_file }}"
                        alt="First slide"
                        style="width: 100%; height: 100%; object-fit: contain"
                        onclick="showInfo()"
                    />
                    <div
                        name="exifBox"
                        class="carousel-caption d-none d-md-block align-middle"
                        style="
                            background-color: rgba(0, 0, 0, 0.7);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            right: 0;
                            bottom: 1px;
                            left: 0%;
                            color: #fff;
                            text-align: center;
                            padding: 7rem 4rem 1rem;
                            display: none !important;
                        "
                        onclick="hideInfo()"
                    >
                        <div class="align-middle">
                            <p>prompts: {{first_image_pos}}</p>
                            <p>negative prompts: {{first_image_neg}}</p>
                            <p>seed: {{first_image.seed}}</p>
                            <p>steps: {{first_image.steps}}</p>
                            <p>sampler: {{first_image.sampler}}</p>
                            <p>cfg scale: {{first_image.cfg_scale}}</p>
                            <p>model hash: {{first_image.model_hash}}</p>
                            <p>clip skip: {{first_image.clip_skip}}</p>
                            <p>
                                denoising strength:
                                {{first_image.denoising_strength}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %} {% if image_list %} {% for image in image_list %}
                <div class="carousel-item" style="width: 100%; height: 100%">
                    <img
                        name="img_box"
                        class="d-block"
                        src="data:image/jpeg;base64,{{ image.0.image_file }}"
                        alt="Second slide"
                        style="width: 100%; height: 100%; object-fit: contain"
                        onclick="showInfo()"
                    />
                    <div
                        name="exifBox"
                        class="carousel-caption d-none d-md-block align-middle"
                        style="
                            background-color: rgba(0, 0, 0, 0.7);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            right: 0;
                            bottom: 1px;
                            left: 0%;
                            color: #fff;
                            text-align: center;
                            padding: 7rem 4rem 1rem;
                            display: none !important;
                        "
                        onclick="hideInfo()"
                    >
                        <div class="align-middle">
                            <p>prompts: {{image.1}}</p>
                            <p>negative prompts: {{image.2}}</p>
                            <p>seed: {{image.0.seed}}</p>
                            <p>steps: {{image.0.steps}}</p>
                            <p>sampler: {{image.0.sampler}}</p>
                            <p>cfg scale: {{image.0.cfg_scale}}</p>
                            <p>model hash: {{image.0.model_hash}}</p>
                            <p>clip skip: {{image.0.clip_skip}}</p>
                            <p>
                                denoising strength:
                                {{image.0.denoising_strength}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
                style="background-color: rgba(0, 0, 0, 0.7); width: 5%"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
                style="background-color: rgba(0, 0, 0, 0.7); width: 5%"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        {% comment %} else data {% endcomment %}
        <div class="col-2" style="position: relative; height: 80vh;">
            <div style="height: 50%; max-height: 50%">
                <div class="title" style="text-align: center; margin-top: 1rem">
                    <h4 style="font-family: 'GmarketSansMedium'">
                        {{ target_post.title }}
                    </h4>
                </div>
                <div
                    class="user-info-container"
                    style="
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        margin-top: 2rem;
                    "
                >
                    {% if target_post.user.profile_image %}
                    <img
                        src="data:image/jpeg;base64,{{ target_post.user.profile_image }}"
                        alt=""
                        style="
                            border: 1px solid black;
                            height: 5rem;
                            width: 5rem;
                            border-radius: 20rem;
                            object-fit: cover;
                        "
                    />
                    {% else %}
                    <img
                        src="{% static 'images/no_profile.png'%}"
                        alt=""
                        style="
                            border: 1px solid black;
                            height: 5rem;
                            width: 5rem;
                            border-radius: 20rem;
                            object-fit: cover;
                        "
                    />
                    {% endif %} &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'account:detail' pk=target_post.user.pk %}">
                        <strong>{{ target_post.user.username }}</strong>
                    </a>
                </div>
                <div
                    style="
                        border: 1px solid black;
                        border-radius: 1rem;
                        margin-top: 2rem;
                        padding: 1rem 1rem;
                    "
                >
                    <p>{{ target_post.content }}</p>
                    <strong>{{ target_post.post_time }}</strong>
                </div>
                <div
                    class="user-info-container"
                    style="
                        display: flex;
                        flex-direction: row;
                        align-items: flex-end;
                        margin-top: 1.2rem;
                        justify-content: flex-end;
                    "
                >
                {% if target_post.user == user %}
                    <div style="text-align: center">
                        <a href="{% url 'images:update' pk=target_post.pk %}">
                            <btn
                                class="btn btn-dark rounded-pill"
                                style="font-family: 'GmarketSansMedium'"
                                >수정</btn
                            >
                        </a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <div style="text-align: center">
                        <a href="{% url 'images:delete' pk=target_post.pk %}">
                            <btn
                                class="btn btn-danger rounded-pill"
                                style="font-family: 'GmarketSansMedium'"
                                >삭제</btn
                            >
                        </a>
                    </div>
                {% else %}
                    {% if user.is_authenticated %}
                        {% if not likes %}
                        <div style="text-align: center">
                            <a href="{% url 'images:like' %}?image_post_pk={{ target_post.pk }}">
                                <btn
                                    class="btn btn-outline-success rounded-pill"
                                    style="font-family: 'GmarketSansMedium'"
                                    >좋아요</btn
                                >
                            </a>
                        </div>
                        {% else %}
                        <div style="text-align: center">
                            <a href="{% url 'images:like' %}?image_post_pk={{ target_post.pk }}">
                                <btn
                                    class="btn btn-outline-danger rounded-pill"
                                    style="font-family: 'GmarketSansMedium'"
                                    >좋아요 해제</btn
                                >
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <div
                class="comment_container"
                style="
                    width: 100%;
                    height: 50%;
                    max-height: 35vh;
                    overflow-y: auto;
                    margin-top: 1rem;
                    border: 1px solid black;
                    border-radius: 1rem;
                    padding: 1rem 1rem;
                    
                "
            >
                {% include 'comments/create.html' with post=target_post %}
                {% for comment in target_post.image_comment.all %}
                    {% include 'comments/detail.html' with comment=comment.comment%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    function hideInfo() {
        const exifDivs = document.getElementsByName("exifBox");

        for (exifDiv of exifDivs) {
            if (exifDiv.style.display !== "none")
                exifDiv.style.setProperty("display", "none", "important");
        }
    }
    function showInfo() {
        const exifDivs = document.getElementsByName("exifBox");

        for (exifDiv of exifDivs) {
            if (exifDiv.style.display == "none")
                exifDiv.style.setProperty("display", "block", "important");
        }
    }
</script>
{% endblock %}
