{% extends 'base.html' %} {% load static %} {% block content %}

<div
    class="container-fluid"
    style="width: 100%; height: 81vh; padding-left: 0; padding-right: 0"
>
    <div
        class="row"
        style="width: 100%; height: 100%; margin-left: 0; margin-right: 0"
    >
        {% comment %} image {% endcomment %}
        <div
            id="carouselExample"
            class="carousel slide col-10"
            data-ride="carousel"
            style="height: 100%; background-color: rgba(0, 0, 0, 0.3)"
        >
            <div class="carousel-inner" style="width: 100%; height: 100%">
                {% if first_image %}
                <div
                    class="carousel-item active"
                    style="width: 100%; height: 100%"
                >
                    <img
                        class="d-block"
                        src="data:image/jpeg;base64,{{ first_image.image_file }}"
                        alt="First slide"
                        style="width: 100%; height: 100%; object-fit: contain"
                    />
                </div>
                {% endif %} {% if image_list %} {% for image in image_list %}
                <div class="carousel-item" style="width: 100%; height: 100%">
                    <img
                        class="d-block"
                        src="data:image/jpeg;base64,{{ image.image_file }}"
                        alt="Second slide"
                        style="width: 100%; height: 100%; object-fit: contain"
                    />
                </div>
                {% endfor %} {% endif %}
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
                style="background-color: rgba(0, 0, 0, 0.7); width: 5%"
            >
                <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
                style="background-color: rgba(0, 0, 0, 0.7); width: 5%"
            >
                <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% comment %} else data {% endcomment %}
        <div class="col-2">
            <div class="title" style="text-align: center; margin-top: 1rem">
                <h4 style="font-family: 'GmarketSansMedium'">
                    {{ target_post.title }}
                </h4>
            </div>
            <div
                class="user-info-container"
                style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    margin-top: 2rem;
                "
            >
                {% if target_post.user.profile_image %}
                <img
                    src="data:image/jpeg;base64,{{ target_post.user.profile_image }}"
                    alt=""
                    style="
                        border: 1px solid black;
                        height: 5rem;
                        width: 5rem;
                        border-radius: 20rem;
                        object-fit: cover;
                    "
                />
                {% else %}
                <img
                    src="{% static 'images/no_profile.png'%}"
                    alt=""
                    style="
                        border: 1px solid black;
                        height: 5rem;
                        width: 5rem;
                        border-radius: 20rem;
                        object-fit: cover;
                    "
                />
                {% endif %} &nbsp;&nbsp;&nbsp;
                <strong>{{ target_post.user.username }}</strong>
            </div>
            <div
                style="
                    border: 1px solid black;
                    border-radius: 1rem;
                    margin-top: 2rem;
                    padding: 1rem 1rem;
                "
            >
                <p>{{ target_post.content }}</p>
                <strong>{{ target_post.post_time }}</strong>
            </div>
            {% if target_post.user == user %}
            <div
                class="user-info-container"
                style="
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    margin-top: 1.2rem;
                    justify-content: flex-end;
                "
            >
                <div style="text-align: center">
                    <a href="{% url 'images:update' pk=target_post.pk %}">
                        <btn
                            class="btn btn-dark rounded-pill"
                            style="font-family: 'GmarketSansMedium'"
                            >수정</btn
                        >
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div style="text-align: center">
                    <a href="{% url 'images:delete' pk=target_post.pk %}">
                        <btn
                            class="btn btn-danger rounded-pill"
                            style="font-family: 'GmarketSansMedium'"
                            >삭제</btn
                        >
                    </a>
                </div>
            </div>
            {% endif %}

            {% comment %} comment {% endcomment %}
            <div style="height: 55%; overflow-y: scroll;">
                {% include 'comments/create.html' with post=target_post %}
                {% for comment in target_post.image_comment.all %}
                    {% include 'comments/detail.html' with comment=comment.comment%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
