{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/image/image_list.css' %}">
{% endblock %}

{% block content %}

<style>
    .container div {
        width: 250px;
        height: auto;
        border-radius: 1rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

</style>

{% include 'snippets/images_fragment.html' with image_post_list=image_post_list %}

<div class="btn-container">
    <a href="{% url 'images:create' %}">
        <btn class="btn btn-dark rounded-pill col-2 mt-3 mb-3" style="font-family: 'GmarketSansMedium';">{{_('이미지 게시글 작성')}}</btn>
    </a>
</div>

{% endblock %}
