{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .container div {
        width: 250px;
        height: auto;
        border-radius: 1rem;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        border-radius: 1rem;
    }

</style>

{% include 'snippets/images_fragment.html' with image_post_list=image_post_list %}

<div style="text-align: center;">
    <a href="{% url 'images:create' %}">
        <btn class="btn btn-dark rounded-pill col-3 mt-3 mb-3">이미지 게시글 작성</btn>
    </a>
</div>

{% endblock %}
