{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center;max-width: 500px; margin: 4rem auto 1.5rem auto;">
        <h2>
            {{target_project.title}}
        </h2>
        <h5> {{target_project.description}}</h5>
        {% if target_project.user == user %}
            <a href="{% url 'projects:delete' pk=target_project.pk %}" class="btn btn-danger rounded-pill">
                delete
            </a>
        {% endif %}
    </div>
    {% include 'posts/list.html' with post_list=object_list %}
    <div class="text-center mb-5">
        <a href="{% url 'projects:list' %}">list</a>
    </div>
{% endblock  %}