{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .container{
        padding: 0;
        margin: 0, auto;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    .container img{
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        border-radius: 1rem;
    }
</style>
<div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-announce-tab" data-bs-toggle="tab" data-bs-target="#nav-announce" type="button" role="tab" aria-controls="nav-announce" aria-selected="true">공지사항</button>
            <button class="nav-link" id="nav-voc-tab" data-bs-toggle="tab" data-bs-target="#nav-voc" type="button" role="tab" aria-controls="nav-voc" aria-selected="false">VOC</button>
            <button class="nav-link" id="nav-temp-tab" data-bs-toggle="tab" data-bs-target="#nav-temp" type="button" role="tab" aria-controls="nav-temp" aria-selected="false">즐겨찾기</button>
        </div>
    </nav>
    {% if user.is_admin %}
    <div style="text-align:center;">
        <a href="{% url 'projects:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-2">
            create project
        </a>
    </div>
    {% endif %}
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-announce" role="tabpanel" aria-labelledby="nav-announce-tab">
        {% include 'posts/list.html' with post_list=object_list %}
    </div>
    <div class="tab-pane fade" id="nav-voc" role="tabpanel" aria-labelledby="nav-voc-tab">
        {% include 'posts/list.html' with post_list=object_list %}
    </div>
</div>

{% if project_list %}
<div class="container">
    {% for project in project_list %}
    <a href = "{% url 'projects:detail' pk=project.pk %}">
        {% include 'snippets/card_project.html' with project=project %}
    </a>
    {% endfor %}
</div>
{% else %}
<div style="text-align:center;">
    <h1> no project yet!</h1>
</div>
{% endif %}
{% include 'snippets/pagination.html' with page_obj=page_obj %}

<script src ="{% static 'js/magicgrid.js' %}"></script>
{% endblock %}

