{% extends 'base.html' %}
{% load project_filters %}
{% load static %}
{% block content %}

<div class="container">
    {% if user.is_admin %}
    <div style="text-align:center; margin-bottom: 2rem;">
        <a href="{% url 'projects:create' %}">
            <btn class="btn btn-dark rounded-pill" style="font-family: 'GmarketSansMedium'">
                게시판 생성
            </btn>
        </a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'post:announce' %}">
            <btn class="btn btn-dark rounded-pill" style="font-family: 'GmarketSansMedium'">
                공지사항 작성
            </btn>
        </a>&nbsp;&nbsp;&nbsp;
        <btn class="btn btn-danger rounded-pill" style="font-family: 'GmarketSansMedium'" data-bs-toggle="modal" data-bs-target="#projectDeleteModal">
            게시판 제거
        </btn>
    </div>
    {% endif %}
    <div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for project in project_list %}
                <button class="nav-link {% if forloop.first %}active{% endif %}" id="nav-{{ project.project_id }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ project.project_id }}" type="button" role="tab" aria-controls="nav-{{ project.project_id }}" aria-selected="{{ forloop.first|yesno:'true,false' }}">{{ project.title }}</button>
                {% endfor %}
            </div>
        </nav>
    </div>

    <div class="tab-content" id="nav-tabContent">
        {% for project in project_list %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="nav-{{ project.project_id }}" role="tabpanel" aria-labelledby="nav-{{ project.project_id }}-tab">
            {% include 'posts/list.html' with post_list=context|get_project_posts:project.project_id %}
        </div>
        {% endfor %}
    </div>
</div>

{% if user.is_admin %}
<!-- Modal -->
<div class="modal fade" id="projectDeleteModal" tabindex="-1" aria-labelledby="projectDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectDeleteModalLabel">게시판 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="projectDeleteForm" action="{% url 'projects:delete' pk='nothing' %}" method="POST">
                <div class="modal-body">
                    <h5>삭제할 게시판을 선택해주세요.</h5>
                    <select name="project" class="form-select" title="" required="" id="id_project" onchange="setProjectId()">
                        <option value="" selected="">---------</option>
                        {% for project in project_list %}
                            <option value="{{ project.project_id }}">{{ project.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger rounded-pill" style="font-family: 'GmarketSansMedium'" value="삭제">
                </div>
            </form>

            <script>
                function setProjectId() {
                    var selectedProjectId = document.getElementById('id_project').value;
                    document.getElementById('projectDeleteForm').action = "/project/delete/" + selectedProjectId;   
                }
            </script>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

