{% load bootstrap5 %}

<div style="text-align: center; margin: 1rem auto;">
    <form action="{% url 'comment:create' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <div class="form-group">
        {% bootstrap_form form %}
        </div>
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" style="font-family: 'GmarketSansMedium';" value="등록">
        {% else %}
        <a href="{% url 'account:signin' %}?next={{reqeust.path}}" class="btn btn-dark rounded-pill col-6 mt3">
            login
        </a>
        {% endif %}
        <input type="hidden" name="post_pk" value="{{post.pk}}">
    </form>
</div>
