{% load i18n %}

<style>
    .comment-detail-container {
        border: 1px solid;
        text-align: left;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 1rem;
        border-color: #000000;
    }
    
    .btn {
        font-family: 'GmarketSansMedium';
    }
</style>

<div class="comment-detail-container">
    <div>
        <strong> {{comment.user.username}}</strong>
        &nbsp;&nbsp;&nbsp; <p>{{comment.comment_time}}<p>   
    </div>
    <div>{{comment.content}}</div>
    {% if comment.user == user %}
    <div style="text-align: right">
        <btn
            class="btn btn-danger rounded-pill"
            data-bs-toggle="modal"
            data-bs-target="#commentModal"
        >
            {{_('Delete')}}
        </btn>
    </div>
    {% else %}
        {% if user.is_authenticated %} 
            {% for comment_like in comment.comment_like.all %}
                {% if user == comment_like.user %}
                    <div style="text-align: right;">
                        <a
                            id="not-like-{{ comment.pk }}"
                            href="{% url 'comment:image_comment_like' %}?comment_pk={{ comment.pk }} "
                            class="btn btn-outline-danger rounded-pill"
                        >
                            {{_('좋아요 해제')}} 
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
                <div style="text-align: right;">
                    <a
                        id="like-{{ comment.pk }}"
                        href="{% url 'comment:image_comment_like' %}?comment_pk={{ comment.pk }}"
                        class="btn btn-outline-success rounded-pill"
                    >
                        {{_('좋아요')}}
                    </a>
                </div>
        {% endif %}
    {% endif %}
</div>
<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">{{_('Delete')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{_('삭제하시겠습니까?')}}
            </div>
            <div class="modal-footer">
                <form action="{% url 'comment:delete' pk=comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger rounded-pill" style="font-family: 'GmarketSansMedium'" value="delete">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var notLikeButton{{ comment.pk }} = $("#not-like-{{ comment.pk }}");
        var likeButton{{ comment.pk }} = $("#like-{{ comment.pk }}");
    
        if (notLikeButton{{ comment.pk }}.is(":visible")) {
            likeButton{{ comment.pk }}.hide();
        } else {
            likeButton{{ comment.pk }}.show();
        }
    });
</script>